{{> default/header}}

<body class="template-color-12 template-font-1">
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
    <!-- Start Preloader  -->
  <div id="page-preloader" class="page-loading clearfix">
    <div class="page-load-inner">
      <div class="preloader-wrap">
        <div class="wrap-2">
          {{#each social}}
          <div class=""> <img src="{{logo}}" alt="Brook Preloader"></div>
        
        </div>
      </div>
    </div>
  </div>
  <!-- End Preloader  -->

  <!-- Wrapper -->
  <div id="wrapper" class="wrapper">

    <!-- Header -->
    <header
      class="br_header header-default header-transparent black-logo--version haeder-fixed-width haeder-fixed-150 headroom--sticky header-mega-menu clearfix">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="header__wrapper">
              <!-- Header Left -->
              <div class="header-left flex-20">
                <div class="logo">
                  <a href="/">
                     <img class=" sp-logo" src="{{logo}}" alt="SOS Pichichos"> 
                  </a>
                    {{/each}}
                </div>
              </div>
              <!-- Mainmenu Wrap -->
              <div class="header-flex-right flex-80">
                <div class="mainmenu-wrapper have-not-flex d-none d-lg-block">
                  <nav class="page_nav">
                    <ul class="mainmenu">

                      <li class="lavel-1 with--drop slide--megamenu"><a
                          href="/"><span>Home</span></a>

                      </li>

                      <li class="lavel-1 with--drop slide--megamenu"><a
                          href="/pichichos"><span>Pichichos</span></a>

                      </li>

                      <li class="lavel-1 with--drop slide-dropdown"><a
                          href="/#whoWeAre"><span>¿Quienes somos?</span></a>


                      </li>

                      <li class="lavel-1 with--drop slide--megamenu"><a
                          href="/noticias"><span>Noticias</span></a>


                      </li>

                      <li class="lavel-1 with--drop slide--megamenu colaborate-btn"><a
                          href="/colaborar"><span>Colaborar</span></a>

                      </li>

                    
                    </ul>
                  </nav>
                </div>
                {{#each social}}
                <!-- Header Right -->
                <div class="header-right have-not-flex pl--35 pl_md--5 pl_sm--5">
                  <!-- Start Social Icon -->
                  <ul class="social-icon icon-size-medium text-center tooltip-layout text-dark-2 d-none d-sm-block">
                    {{#if facebook}}
                    <li class="facebook"><a href="{{facebook}}"
                        class="link hint--bounce hint--bottom hint--dark" aria-label="Facebook"><i
                          class="fab fa-facebook"></i></a></li>
                    {{/if}}
                      {{#if twitter}}
                    <li class="twitter"><a href="{{twitter}}"
                        class="link hint--bounce hint--bottom hint--dark" aria-label="Twitter"><i
                          class="fab fa-twitter"></i></a></li>
 {{/if}}
                            {{#if instagram}}
                    <li class="instagram"><a href="{{instagram}}"
                        class="link hint--bounce hint--bottom hint--dark" aria-label="Instagram"><i
                          class="fab fa-instagram"></i></a></li>
                           {{/if}}
                  </ul>
                  {{/each}}
                  <!-- End Social Icon -->
                  <!-- Start Hamberger -->
                  <div
                    class="manu-hamber popup-mobile-click d-block d-lg-none black-version d-block d-xl-none pl_md--10 pl_sm--10">
                    <div>
                      <i></i>
                    </div>
                  </div>
                  <!-- End Hamberger -->

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </header>
    <!--// Header -->


    <!-- Start Popup Menu -->
    <div class="popup-mobile-manu popup-mobile-visiable">
      <div class="inner">
        <div class="mobileheader">
          <div class="logo">
            <a href="/">
              <img src="/uploads/logo/logo.png" alt="Multipurpose">
            </a>
          </div>
          <a class="mobile-close" href="#"></a>
        </div>
        <div class="menu-content">
          <ul class="menulist object-custom-menu">

            <li class="has-mega-menu"><a href="/"><span>Home</span></a>

            </li>

            <li class="has-mega-menu"><a href="/pichichos"><span>Pichichos</span></a>

            </li>

            <li class="has-mega-menu"><a href="/#whoWeAre"><span>¿Quienes somos?</span></a>

            </li>

            <li class="has-mega-menu"><a href="/noticias"><span>Noticias</span></a>

            </li>

            <li class="has-mega-menu"><a href="/colaborar"><span>Colaborar</span></a>

            </li>

          </ul>
        </div>
      </div>
    </div>
    <!-- End Popup Menu -->

    <!-- Start Brook Search Popup -->
    <div class="brook-search-popup">
      <div class="inner">
        <div class="search-header">
          <div class="logo">
            <a href="/">
            {{#each social}}
              <img src="{{logo}}" alt="logo images">
              {{/each}}
            </a>
          </div>
          <a href="#" class="search-close"></a>
        </div>
        <div class="search-content">
          <form action="#">
            <label>
              <input type="search" placeholder="Enter search keyword…">
            </label>
            <button class="search-submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>
    <!-- End Brook Search Popup -->

    <!-- Start Toolbar -->
    <div class="demo-option-container">
      <!-- Start Toolbar -->
      <div class="brook__toolbar">
        <div class="inner">
          <a class="hint--bounce hint--left hint--black primary-color-hover-important"
            href="/pichichos" aria-label="Pichichos">
            <i class="fa fa-paw"></i>
          </a>
          <a class="hint--bounce hint--left hint--black primary-color-hover-important" 
            href="/colaborar" aria-label="Ayudar a distancia">
            <i class="fa fa-heart"></i>
          </a>
          
        </div>
      </div>
      <!-- End Toolbar -->
      
    </div>
    <!-- End Toolbar -->
  {{{body}}}

  </div>

  {{> default/footer}}