<div class="container">
    <h1 class="text-center">Edit Pichicho Data</h1>

    <div class="row p-4">
        <div class="col-md-10">
            <form action="/admin/pichichos/edit/{{adoption._id}}?newMethod=PUT" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" required name="title" id="title" placeholder="Enter title"
                        value="{{adoption.title}}">
                </div>

                <div class="form-group">
                <label for="age">Edad</label>
                <input type="text" class="form-control" required name="age" id="age" placeholder="Edad aproximada del pichicho" value="{{adoption.age}}">
            </div>

            <div class="form-group">
                <label for="size">Tama침o</label>
                <select required name="size" id="size" class="form-control">
                    <option value="{{adoption.size}}" selected='selected'>{{adoption.size}}</option>
                    <option value="Muy Peque침o">Muy Peque침o</option>
                    <option value="Peque침o">Peque침o</option>
                    <option value="Mediano">Mediano</option>
                    <option value="Grande">Grande</option>
                    <option value="Muy Grande">Muy Grande</option>
                </select>
                <small>En caso de que el pichicho sea un cachorro y su tama침o a칰n no sea visible indicar el tama침o aproximado que se cree que tendr치 cuando crezca 游비</small>
            </div>

                <div class="form-group">
                <label for="updatedFile">File Upload</label>
                <input type="text" class="form-control" id="updatedFile" required name="updatedFile" value="{{adoption.file}}">
            </div>

            <div class="form-group">
                <label for="category">Category</label>
                <select  required name="category" id="category" class="form-control">
                   {{#each cats}}
                    <option value="{{_id}}">{{title}}</option>
                    {{/each}}
                   
                </select>
            </div>

                <div class="form-group">
                    <label for="description">Content</label>
                    <textarea required name="description" id="description" class="form-control"
                        placeholder="Enter your content here" rows="10">{{adoption.description}}</textarea>
                </div>

                <button class="btn btn-outline-warning btn-large" type="submit">Edit Post</button>

            </form>
        </div>
    </div>

</div>